@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  /* colors */
  --accent-color: #02A9EA;
  --accent-color-darker: #0094CE;
  --text-color: #0E0E0E;
  --text-color-button: #FFFEFF;
  --text-muted: #9A999A;
  --text-ok: #1B998B;
  --link-color: #02A9EA;
  --background-color: #FAFAFA;
  --background-header-color: #EFEFEF;
  --input-color: #eeeeee;
  --slider-background: #DFDFDF;
  --slider-btn-background: #F4F5F5;
  --slider-btn-color: #0E0E0E;

  /* sizes */
  --navbar-height: 70px;
  --base-font-size: 62.5%;
  --body-font-size: 1.6rem;
  --button-font-size: 1.4rem;
  --h1-font-size: 6.5rem;
  --h2-font-size: 4.1rem;
  --h3-font-size: 2.54rem;
  --h4-font-size: 1.6rem;
  --h5-font-size: 1rem;

  /* fonts */
  --title-font: "BioRhyme";
  --text-font: "Space Mono";
}

:root.dark {
  /* colors */
  --accent-color: #02A9EA;
  --accent-color-darker: #0094CE;
  --text-color: #FFFEFF;
  --text-color-button: #FFFEFF;
  --text-muted: #9A999A;
  --text-ok: #1B998B;
  --link-color: #02A9EA;
  --background-color: #0E0E0E;
  --background-header-color: #211E1E;
  --input-color: #1b1919;
  --slider-background: #282828;
  --slider-btn-background: #171515;
  --slider-btn-color: #FFFEFF;

  /* sizes */
  --navbar-height: 70px;
  --base-font-size: 62.5%;
  --body-font-size: 1.6rem;
  --button-font-size: 1.4rem;
  --h1-font-size: 6.5rem;
  --h2-font-size: 4.1rem;
  --h3-font-size: 2.54rem;
  --h4-font-size: 1.6rem;
  --h5-font-size: 1rem;

  /* fonts */
  --title-font: "BioRhyme";
  --text-font: "Space Mono";
}

html {
  transition: color, background-color .2s ease-in;
  font-size: var(--base-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  font-size: var(--body-font-size);
  font-family: var(--text-font), sans-serif;
  overflow-x: hidden !important;
  text-overflow: hidden !important;
}

/* margins, height, width ... utilities */
.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mr-xs {
  margin-right: 2rem;
}

.mr-sm {
  margin-right: 4rem;
}

.mr-md {
  margin-right: 6rem;
}

.mr-lg {
  margin-right: 8rem;
}

.ml-xs {
  margin-left: 2rem;
}

.ml-sm {
  margin-left: 4rem;
}

.ml-md {
  margin-left: 6rem;
}

.ml-lg {
  margin-left: 8rem;
}

.mt-xs {
  margin-top: 2rem;
}

.mt-sm {
  margin-top: 4rem;
}

.mt-md {
  margin-top: 6rem;
}

.mt-lg {
  margin-top: 8rem;
}

.mb-xs {
  margin-bottom: 2rem;
}

.mb-sm {
  margin-bottom: 4rem;
}

.mb-md {
  margin-bottom: 6rem;
}

.mb-lg {
  margin-bottom: 8rem;
}

/* END OF margins */

/* texts */
.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-normal {
  font-weight: normal;
}

.text-light {
  font-weight: lighter;
}

.text-bold {
  font-weight: bold;
}

.font-rhyme {
  font-family: "BioRhyme";
}

.font-space {
  font-family: "Space Mono";
}

/* END OF texts */

button {
  font-family: "Space Mono";
}
a {
  color: var(--text-color);
  text-decoration: none;
}

input,
textarea {
  border: 1px solid var(--slider-background);
  border-radius: 2rem;
  padding: 1rem;
  height: auto;
  max-height: 2rem;
  display: flex;
  flex: auto;
  font-size: var(--body-font-size);
  background: var(--input-color);
  color: var(--text-color);
  transition: background .2s ease-in;
}

textarea {
  min-height: 250px;
}

input:focus,
textarea:focus {
  outline: none !important;
  background: var(--slider-background);
}

input,
textarea::placeholder {
  font-family: "Space Mono";
}

a:visited {
  color: var(--text-color);
}

#show-menu-container {
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#show-menu {
  display: block;
  position: relative;
  width: 20px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: calc(4px / 2);
}

#show-menu::before {
  transition: all .2s ease-in;
  position: absolute;
  top: -8px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--text-color);
  border-radius: calc(4px / 2);
}

#show-menu::after {
  transition: all .2s ease-in;
  display: block;
  transform-origin: 1px;
  position: absolute;
  top: 8px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--text-color);
  border-radius: calc(4px / 2);
}

#show-menu.triggered::before {
  transform-origin: top left;
  width: 120%;
  transform: rotate(45deg);
}
#show-menu.triggered {
  background-color: var(--background-color);
}
#show-menu.triggered::after {
  transform-origin: bottom left;
  width: 120%;
  transform: rotate(-45deg);
}

.input-layout {
  display: flex;
  flex-flow: column;
  flex: auto;
  text-align: start;
}

.input-error {
  font-size: 1.4rem;
  font-weight: bold;
  color: red;
  margin: .5rem 1rem;
}

/* Small devices (landscape phones, 100px and up) */
@media (min-width: 100px) {
  body {
    padding: 0 !important;
  }

  .container {
    position: relative;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .fullscreen {
    min-height: calc(100vh - var(--navbar-height) - 10rem);
    width: auto !important;
    padding: 4rem !important;
  }

  .background-header {
    display: block;
    font-family: var(--title-font);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    font-size: 9rem;
    color: var(--background-header-color);
    z-index: -1;
  }

  .gap {
    gap: 1rem;
  }
  
  #home-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    justify-content: center;
    align-items: center;
    gap: 3rem !important;
  }

  #hobbies-container {
    width: 100% !important;
  }

  #hobbies-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    justify-content: center;
    gap: 3rem !important;
  }

  #skill-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 3rem !important;
  }

  #contact-col {
    width: 100% !important;
    gap: 1rem !important;
  }
  
  .column.center-v {
    justify-content: unset !important;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile {
    position: sticky;
    overflow: hidden;
    transition: max-height .2s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    /* min-height: var(--navbar-height); */
    max-height: auto;
    background-color: var(--background-header-color);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .2); */
    z-index: 2;
  }

  .navbar-mobile--buttons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    width: 100%;
  }

  .navbar-mobile--actions {
    text-align: center;
    transition: all .5s ease-out;
    width: 100%;
    overflow: hidden;
    max-height: 0;
  }

  .navbar-mobile--actions.open {
    max-height: 500px;
  }

  #navbar-mobile--grid {
    padding: 2rem 0;
    align-items: center;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .navbar-mobile--link {
    text-transform: uppercase;
    font-family: "BioRhyme";
  }

  .navbar-mobile--link-active {
    color: var(--accent-color) !important;
  }

  .navbar-mobile #plus-icon {
    font-size: 2.4rem;
    color: var(--text-color);
  }

  .xp--container {
    width: 100% !important;
  }

  .xp--timeline {
    left: -.2rem !important;
  }

  .xp--content-container {
    width: 100% !important;
    margin-left: 2rem;
  }

  .xp--container>.xp--content-container:nth-child(2n+1) {
    margin-left: none;
    justify-content: flex-start;
  }

  .xp--container>.xp--content-container::before {
    right: calc(100% + 1rem) !important;
  }

  .xp--content {
    width: 100% !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .fullscreen {
    height: auto;
    width: 100vw;
  }
  
  .column.center-v {
    justify-content: center !important;
  }

  #home-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #hobbies-container {
    width: 80% !important;
  }

  #hobbies-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  #hobbies-grid>.left {
    text-align: start;
  }

  #hobbies-grid>.right {
    text-align: start;
  }

  .background-header {
    font-size: 18rem;
  }

  .xp--timeline {
    left: calc(50% - .2rem) !important;
  }

  .xp--content-container {
    width: 50% !important;
    margin-left: 0 !important;
  }
  .xp--container>.xp--content-container:nth-child(2n+1) {
    margin-left: auto !important;
    justify-content: flex-end;
  }

  .xp--container > .xp--content-container::before {
    right: calc(100% - 1rem) !important;
  }

  .xp--container > .xp--content-container:nth-child(2n)::before {
    right: -1rem !important;
  }

  .xp--content {
    width: 85% !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    padding: 0 4rem;
  }

  .container {
    max-width: 900px;
  }

  .fullscreen {
    min-height: calc(100vh - var(--navbar-height));
    width: 100vw;
    padding: 0 !important;
  }

  .background-header {
    font-size: 26.3rem;
  }

  #skill-grid {
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5rem !important;
  }

  .column.center-v {
    justify-content: center !important;
  }

  /* navbar settings */
  .navbar-mobile {
    display: none;
  }

  .navbar {
    height: var(--navbar-height) !important;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  a.navbar--link {
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in;
    text-transform: uppercase;
    opacity: .5;
    font-family: var(--title-font), serif;
    font-weight: normal;
    font-size: 1.6rem;
  }

  .navbar--left {
    display: flex;
    flex-direction: row;
  }

  .navbar--right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar--right *:not(:last-child) {
    margin-right: 4rem;
  }

  .navbar--link:not(:last-child) {
    margin-right: 3rem;
  }

  .navbar--link:last-child {
    margin-left: 3rem;
  }

  .navbar--link:hover {
    opacity: 1;
  }

  a.navbar--link.navbar--link-active {
    font-weight: bold;
    opacity: 1;
  }

  .navbar--link-active::after {
    position: absolute;
    content: "";
    top: 130%;
    left: 0;
    right: 0;
    height: 7px;
    background-color: var(--accent-color);
    border-radius: 5px 0;
    opacity: 1;
  }

  .gap {
    gap: 2.2rem;
  }
  /* END OF navbar settings */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container {
    max-width: 1366px !important;
  }

  .xp--container {
    width: 75% !important;
  }

  #hobbies-container {
    width: 50% !important;
  }

  #hobbies-grid {
    justify-content: space-between;
    align-items: center;
    gap: 10rem !important;
  }

  #contact-col {
    width: 60% !important;
    gap: 2.2rem !important;
  }
}

/* buttons settings */
.button {
  padding: .8rem 2.6rem;
  border-radius: 2rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: bolder;
  transition: all .15s ease-in;
  background-color: var(--accent-color);
  color: var(--text-color-button) !important;
  white-space: nowrap;
}

.button:disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}

.button:hover {
  background-color: var(--accent-color-darker);
}

.button-outlined {
  border: 1px solid var(--accent-color);
  color: var(--accent-color) !important;
  background-color: transparent;
}

.button-outlined:hover {
  color: white !important;
  background-color: var(--accent-color);
}
/* END OF buttons settings */

/* home component css */
.profile-picture--container {
  overflow: hidden;
  border-radius: 50%;
  width: 210px;
  height: 210px;
}

.profile-picture--container img {
  width: 100%;
}

.center-h {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

.column.center-v {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.underlined {
  position: relative;
}

.underlined::after {
  position: absolute;
  top: 50%;
  width: 110%;
  height: 60%;
  left: -5%;
  content: "";
  border-radius: 5px 0;
  background-color: var(--accent-color);
  z-index: -1;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: "BioRhyme";
}

h1 {
  font-size: var(--h1-font-size) !important;
}
h2 {
  font-size: var(--h2-font-size) !important;
}
h3 {
  font-size: var(--h3-font-size) !important;
}
h4 {
  font-size: var(--h4-font-size) !important;
}
h5 {
  font-size: var(--h5-font-size) !important;
}

/* END OF home component css */

.grid-wrapper {
  display: grid;
  /* grid-auto-columns: minmax(400px, auto); */
}

/* grids of the application */
#home-grid {
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}


#skill-grid {
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.grid-item {
  display: grid;
  align-items: center;
  row-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.text-muted {
  color: var(--text-muted);
}

.text-ok {
  color: var(--text-ok);
  font-weight: bold;
}
.text-ok::after {
  content: "Ok"
}

.slider {
  position: relative;
  width: 34px;
  height: 22px;
  border-radius: calc(22px / 2);
  background-color: var(--slider-background);
  cursor: pointer;
}

.slider::before {
  display: inline-block;
  transition: transform .2s ease-in;
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  top: 50%; 
  left: 50%;
  transform: translate(-100%, -50%);
  color: var(--slider-btn-color);
  background-color: var(--slider-btn-background);
  background-image: url('./assets/sun-solid.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--slider-btn-color);
  content: "";
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: 1;
}

.slider.active::before {
  transform: translate(0, -50%);
  background-image: url('./assets/moon-solid.svg');
}

.slider.active:hover::before {
  transform: translate(0, -50%) scale(110%);
}
.slider:hover::before {
  transform: translate(-100%, -50%) scale(110%);
}


/* Experience view */
.xp--container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 0;
}

.xp--timeline {
  position: absolute;
  width: .2rem;
  height: 100%;
  top: 0;
  background-color: var(--text-color);
}

.xp--content-container {
  position: relative;
  display: flex;
}

.xp--container > .xp--content-container:not(:last-child) {
  margin-bottom: 6rem;
}

.xp--container > .xp--content-container::before {
  position: absolute;
  border-radius: 50%;
  top: -1rem;
  content: '';
  width: 2.2rem;
  height: 2.2rem;
  background-color: var(--text-color);
}

.xp--content {
  padding: 1rem;
  background-color: var(--slider-background);
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  text-align: center;
  justify-content: space-between;
}

.xp--content .xp--content-header {
  display: block;
  font-family: 'BioRhyme';
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.xp--content .xp--content-desc {
  margin: 2rem 0;
  display: block;
  font-family: 'Space Mono';
  font-size: 1.8rem;
}

.xp--content .xp--content-technos {
  align-self: flex-end;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4rem;
  color: var(--text-muted);
  font-weight: bold;

}

.xp--content .xp--content-technos > div::before {
  content: '#';
}

.xp--content .xp--content-technos > div:not(:last-child) {
  margin-right: 1rem;
}

.xp--content .xp--content-dates {
  font-size: .8em;
  text-transform: none;
}
